spec:
  containers:
  - name: node-app
    image: kalyani123/my-k8s-app:v1
    imagePullPolicy: Never
    ports:
    - containerPort: 8080
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-k8s-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-k8s-app
  template:
    metadata:
      labels:
        app: my-k8s-app
    spec:
      containers:
      - name: my-k8s-app
        image: kalyani123/my-k8s-app:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: my-k8s-app-service
spec:
  type: NodePort
  selector:
    app: my-k8s-app
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30007
